:root {
    --fontMain: 'Montserrat', sans-serif;
    --textColorMain: #fff;
}

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }

/************************************************MAIN PAGE **************************************/

@keyframes backgroundColor {
    0% {
        background-color: #80489C;
    }
    50% {
        background-color: #432C7A;
    }
    100% {
        background-color: #80489C;
    };
}

.main-page {
    animation: backgroundColor 10s infinite;
    background-image: url("https://www.transparenttextures.com/patterns/mirrored-squares.png");
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.kahoot-title {
    color: var(--textColorMain);
    font-family: 'Happy Monkey', cursive;
    font-size: 2.5rem;
    margin: 20px;
}

.main-center {
    background-color: var(--textColorMain);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 1.3%;
}

#game-pin {
    box-sizing: border-box;
    border: 0.15rem solid rgb(204, 204, 204);
    border-radius: 5px;
    font-family: var(--fontMain);
    font-size: 1rem;
    margin-bottom: 10px;
    min-height: 48px;
    line-height: 2.5rem;
    outline: none;
    text-align: center;
    width: 300px;
}

#game-pin::placeholder {
    color: rgb(204, 204, 204);
    font-weight: 800;
}

.copyright-text {
    color: var(--textColorMain);
    font-size: 1rem;
    font-family: var(--fontMain);
    position: absolute;
    bottom: 0;
}


/*******************************Question Page ***************/

.question-section {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0.15rem solid rgb(204, 204, 204);
}

.question {
    margin: 0;
    font-family: var(--fontMain);
}

.question-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.answer-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
    row-gap: 15px;
    margin: 20px;
}

.answer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    color: white;
    padding-left: 10px;
    height: 100px;
    cursor: pointer;
}

.answer1 {
    background-color: #c60929;
}

.answer1:hover {
    background-color: #eb2134;
}

.answer2 {
    background-color: #0542b9;
}

.answer2:hover {
    background-color: #1368ce;
}

.answer3 {
    background-color: #d89e00;
}

.answer3:hover {
    background-color: #ffa602;
}

.answer4 {
    background-color: #106b03;
}

.answer4:hover {
    background-color: #26890c;
}
